                                /* GERAL */
{
	~background-color:#34493e;
	background-image: url("https://images.fabric.com/images/693/693/0354267.jpg");
}

/* logo */

.logo{

	margin-left: 25%;
	margin-right: 25%;
	margin: 0px 5 5 8px;
	padding-top: 20px;
	padding-bottom: 10px;
}


img{
	margin-left: 25%;
	margin-right: 25%;
}


/*search bar*/

.search-div{

	margin-left: 25%;
	margin-right: 25%;
	font:1.2em 'Montserrat Alternates';
	border: 1px;
	border-color: black;
}

/*search-box*/



.search-box{
	
	margin-left: 25%;
	width: 230px;
	height: 20px;
	text-align: center;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 16px;
	background: #f8f8f8;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-menu{
	
	width: 100px;
	height: 23px;
	margin: 0px 0 0 8px;
	padding: 0 8px;
	text-align: center;
	font-family: 'Open Sans', Arial, sans-serif;
	color: #888;
	font-size: 16px;
	background: #f8f8f8;
	border: 0px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.resultados{
	
	display: grid;
	grid-template-columns: auto auto auto;
	margin-left: 25%;
	margin-right: 25%;
	width: 625.5px;
	
}


.artista{
	
	color: orange;
	width: 208.5px;
	font-size: 14px;
	text-align: justify;
	font-family: 'Open Sans', Arial, sans-serif;
	
}

.caixa_img{
	
	
}


.art_img{
	
	width: 50%;
	height: 50%;
}
