		                                /* GERAL */

/* logo */

@font-face {
    font-family: coolvetica;
    src: url('../fonts/coolvetica rg.ttf');
}

*{
    font-family: coolvetica;
    
}

.logo {    
   text-align: center;
}

.imagemlogo {    
    margin-top: 1%;
    margin-bottom: 1%;
}


body {    
   background: linear-gradient(to right, black, white,white,white,white,white,white,white,black);
}


/*search bar*/

.search-div {
	text-align: center;
	border: 1px;
	border-color: black;
}

/*search-box*/



.search-box {
	text-align: center;
	width: 230px;
	height: 20px;
	text-align: center;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 16px;
	background: #f8f8f8;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-menu {
	width: 100px;
	height: 23px;
	margin: 0px 0 0 8px;
	padding: 0 8px;
	text-align: center;
	font-family: 'Open Sans', Arial, sans-serif;
	color: #888;
	font-size: 16px;
	background: #f8f8f8;
	border: 0px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.resultados {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 5%;
}


.artista {
	color: black;
	max-width: 208.5px;
	max-height: 300px;
	font-size: 14px;
	text-align: center;
}

.caixa_img {    
    max-height: 200px;
    margin-top: 3%;
	margin-bottom: 5%;
}



.art_img {
	max-height: 200px;
	max-width: 208.5px;
	border: 0px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.resultado-pesquisa {
    display: grid;
    grid-template-areas:
    'namebox img img'
    'realname img img'
    'wikip img img';
    grid-gap: 10px;
    padding: 10px;
    margin-top: 2%;
	margin-left: 15%;
	margin-right: 15%;        
}

.artist_namebox {
    grid-area: namebox;        
}

.artist_namebox_real {
    grid-area: realname;    
}

.caixa_wiki {    
    grid-area: wikip;
}

.caixa_img_artist {    
    grid-area: img;
}

.caixa_img_box {    
    max-height: 200px;
    max-width: 200px;
   	border: 0px solid #ccc;
	border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.albums_title {    
	font-size: 32px;
	color: black;    
}

.label_albums_name {    
	font-size: 14px;
	color: black;    
}